# Домашнє завдання: DataFrame операції

## Завдання 1

In [ ]:
import pandas as pd
data = {
    'Name': ['Alex', 'Bella', 'Chris'],
    'Age': [30, 25, 35],
    'City': ['Kyiv', 'Lviv', 'Odesa']
}
df = pd.DataFrame(data)
print(df)

In [ ]:
df['Salary'] = [50000, 60000, 55000]
print(df)

In [ ]:
df = df.drop('Age', axis=1)
print(df)

In [ ]:

new_row = pd.DataFrame([{'Name': 'Diana', 'City': 'Dnipro', 'Salary': 58000}])
df = pd.concat([df, new_row], ignore_index=True)
print(df)

In [ ]:

df = df.drop(0, axis=0).reset_index(drop=True)
print(df)

In [ ]:

df['Department'] = 'Sales'
print(df)

In [ ]:

df = df.drop('Salary', axis=1)
print(df)

## Завдання 2

In [ ]:
data = {
    'Product': ['Book', 'Pen', 'Notebook'],
    'Price': [15, 2, 5],
    'Stock': [100, 500, 200]
}
df = pd.DataFrame(data)
print(df)

In [ ]:

df['Discount'] = '10%'
print(df)

In [ ]:

df = df.drop('Stock', axis=1)
print(df)

In [ ]:

new_row = pd.DataFrame([{'Product': 'Pencil', 'Price': 1, 'Discount': '5%'}])
df = pd.concat([df, new_row], ignore_index=True)
print(df)

In [ ]:
df = df.drop(1, axis=0).reset_index(drop=True)
print(df)

In [ ]:

df['Supplier'] = 'Co.'
print(df)

In [ ]:

df = df.drop(2, axis=0).reset_index(drop=True)
print(df)

## Завдання 3

In [ ]:
data = {
    'Employee': ['John', 'Emma', 'Oliver'],
    'Department': ['HR', 'Finance', 'IT'],
    'Salary': [50000, 70000, 60000],
    'Age': [28, 34, 29]
}
df = pd.DataFrame(data)
print(df)

In [ ]:

df['Bonus'] = df['Salary'] * 0.1
print(df)

In [ ]:
df = df.drop('Age', axis=1)
print(df)

In [ ]:
new_row = pd.DataFrame([{'Employee': 'Sophia', 'Department': 'Marketing', 'Salary': 65000, 'Bonus': 6500}])
df = pd.concat([df, new_row], ignore_index=True)
print(df)

In [ ]:
df = df.drop(0, axis=0).reset_index(drop=True)
print(df)

In [ ]:
df = df.drop('Bonus', axis=1)
print(df)